.ant-modal-content {
    min-width: 700px;
}

.ant-modal-content .ant-tabs-tab-btn {
    color: black;
}

.modal-info-point {
    margin: 5px 0;
}

.modal-info-point .ant-tooltip-open {
    z-index: 999;
}